.back-g{
    position: relative !important;
    overflow: hidden !important;
    height: 600px !important;
}
.carousel-item{
    width: 100%;
    height: 600px;
}
img{
    position: absolute !important;
    top: 0px;
    z-index: 0;
    /* filter: brightness(0.3); */
}
.text{
    position: relative;
    z-index: 10;
    width: 30rem;
    top: 120px;
    left: 45px;
    
}
.text h1{
    font-size: 4rem;
}


/* button */

.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;
    color:ghostwhite;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    }
    
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }
.button{
    box-shadow: 8px 8px 15px #bebebe,
    -8px -8px 15px #ffffff;
    border: none;
}